/* Загальні стилі */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #292929;
  --bg-color-light: #ffffff;
  --text-color-light: #333333;
  --header-bg-color-light: #f5f5f5;
  --text-color-highlight: #00b068;

  --bg-color-dark: #1a1a1a;
  --text-color-dark: #dcdcdc;
  --header-bg-color-dark: #2b2b2b;

  /* Активні змінні для тем */
  --bg-color: var(--bg-color-light);
  --text-color: var(--text-color-light);
  --header-bg-color: var(--header-bg-color-light);
  --button-bg-color: var(--primary-color);
  --button-text-color: #ffffff;
}

/* Темна тема */
.dark-theme {
  --bg-color: var(--bg-color-dark);
  --text-color: var(--text-color-dark);
  --header-bg-color: var(--header-bg-color-dark);
}

/* Основні стилі */
body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: "Poppins", sans-serif;
  line-height: 1.6;
}

/* Стилі для заголовків */
h1,
h2,
h3 {
  color: var(--text-color);
  text-transform: uppercase;
  /* margin-bottom: 15px; */
}

h1 {
  font-family: Impact, sans-serif;
  color: var(--primary-color);
  font-size: 64px;
  font-weight: 700;
  text-align: center;
  max-width: 320px;
  letter-spacing: 0.03em;
  line-height: 1.25;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

h2 {
  font-family: Impact, sans-serif;
  font-size: 28px;
  font-weight: 700;
}

h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 20px;
}

ul {
  display: flex;
}

/* Посилання */
a {
  color: var(--primary-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Стилі для кнопок */
.btn {
  display: inline-flex;
  align-items: center;
  background-color: var(--button-bg-color);
  color: var(--button-text-color);
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  margin-top: 10px;
}

.btn:hover {
  background-color: #146c4a;
}

/* Кнопка для перемикання теми */
.toggle-theme-btn {
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 10px 15px;
  background-color: var(--button-bg-color);
  color: var(--button-text-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
}

.toggle-theme-btn:hover {
  background-color: #146c4a;
}

/* Іконки */
.icon {
  display: inline-flex;
  margin-left: 8px;
}

.icon svg {
  width: 16px;
  height: 16px;
  fill: currentColor;
}

/*  =====   header   ======  */

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header {
  background-color: var(--header-bg-color);
  padding: 20px;
  text-align: center;
}

header h2 {
  font-size: 32px;
  color: var(--text-color);
  letter-spacing: 0.05em;
  line-height: 1;
}

.nav-links {
  display: flex;
  justify-content: center;
  gap: 15px;
  list-style: none;
  margin-top: 10px;
}

.nav-links a {
  font-size: 14px;
  color: var(--text-color);
}

/*   ======   Section Hero   ======   */
#hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* text-align: center; */
  padding: 30px 20px;
}

#hero p {
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 0.02em;
  line-height: 1.16;
  margin: 10px 0;
  text-transform: uppercase;
  max-width: 320px;
  text-align: start;
}

/* Секції */
section {
  padding: 20px;
  background-color: var(--header-bg-color);
  margin: 10px 0;
  border-radius: 8px;
}

.highlight {
  color: var(--text-color-highlight);
}

section h2 {
  font-size: 24px;
  color: var(--primary-color);
  text-align: center;
}

/* ======   Section About Me   =======  */
#about {
  padding: 20px;
  background-color: var(--header-bg-color);
  margin: 20px 0;
  border-radius: 8px;
  text-align: center;
}

#about h2 {
  font-size: 28px;
  color: var(--primary-color);
  margin-bottom: 20px;
}

.about-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.about-img {
  max-width: 200px;
  border-radius: 8px;
  margin-bottom: 20px;
}

.bio,
.education,
.role {
  background-color: var(--header-bg-color);
  padding: 15px;
  border-radius: 5px;
  text-align: left;
  color: var(--text-color);
  width: 100%;
  max-width: 800px;
}

.bio h3,
.education h3,
.role h3 {
  font-size: 22px;
  color: var(--primary-color);
  margin-bottom: 10px;
}

.bio p {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 10px;
}

.education ul,
.role ul {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-direction: column;
}

.education li,
.role li {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 8px;
}

@media (min-width: 768px) {
  .about-content {
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
  }

  .about-img {
    margin-right: 20px;
    margin-bottom: 0;
  }

  .bio,
  .education,
  .role {
    width: calc(33.333% - 20px);
    margin-right: 10px;
    margin-left: 10px;
  }
}

/* Розділ Навички */
#skills ul {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;
}

#skills li {
  background-color: #3a3a3a;
  color: var(--text-color);
  padding: 8px;
  border-radius: 5px;
  font-size: 14px;
}

/* Розділ Проекти */
#projects .project {
  background-color: var(--bg-color-light);
  padding: 15px;
  border-radius: 5px;
  text-align: center;
  color: var(--text-color);
  margin-bottom: 15px;
}

#projects .project h3 {
  font-size: 18px;
}

#projects .btn {
  display: inline-flex;
  justify-content: center;
  width: 80%;
}

/* =====   Section Benefits of Working with Me   ====== */

#benefits {
  padding: 20px;
  background-color: var(--header-bg-color);
  margin: 20px 0;
  border-radius: 8px;
  text-align: left;
}

#benefits h2 {
  font-size: 28px;
  color: var(--primary-color);
  margin-bottom: 20px;
  text-align: center;
}

.benefit {
  display: flex;
  align-items: flex-start;
  gap: 15px;
  margin-bottom: 20px;
}

.benefit .icon {
  flex-shrink: 0;
}

.benefit .icon svg {
  width: 24px;
  height: 24px;
  fill: var(--primary-color);
}

.benefit-content {
  max-width: 800px;
}

.benefit-content h3 {
  font-size: 22px;
  color: var(--primary-color);
  margin-bottom: 5px;
}

.benefit-content p {
  font-size: 16px;
  color: var(--text-color);
  line-height: 1.6;
}

/* Часті питання */
.faq-item h3 {
  font-size: 16px;
  color: var(--primary-color);
}

.faq-item p {
  margin-top: 5px;
  font-size: 14px;
}

/* Відгуки */
#reviews blockquote {
  background-color: #3a3a3a;
  padding: 15px;
  border-radius: 5px;
  font-style: italic;
  color: var(--text-color);
  margin: 10px 0;
}

/* Контактна форма */
#contact form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#contact label {
  font-size: 14px;
  color: var(--text-color);
}

#contact input,
#contact textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #444;
  border-radius: 5px;
  font-size: 14px;
  background-color: #3a3a3a;
  color: var(--text-color);
}

#contact button {
  padding: 10px;
  background-color: var(--button-bg-color);
  color: var(--button-text-color);
  border: none;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
}

#contact button:hover {
  background-color: #146c4a;
}

/* Footer */
footer {
  text-align: center;
  padding: 20px;
  background-color: var(--bg-color-light);
  color: var(--text-color);
}

footer p {
  font-size: 14px;
  margin: 10px 0;
}

footer .socials a {
  color: var(--text-color);
  margin: 0 5px;
  font-size: 14px;
}

footer .socials a:hover {
  color: #aaa;
}

/* --- Медіа-запити для десктопної версії --- */
@media (min-width: 1280px) {
  body {
    margin: 0 auto;
    width: 90%;
    max-width: 1280px;
  }

  #about,
  #projects,
  #contact {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
  }

  #about .bio,
  #projects .project,
  #contact form {
    flex: 1 1 66%;
    padding: 10px;
  }

  #about img {
    flex: 1 1 30%;
  }

  #projects .project {
    flex: 1 1 45%;
  }

  .btn,
  #contact button {
    width: auto;
  }
}

/*  =====    Анотація   ===== */

/*   ===   Центральне вирівнювання основного контейнера для кращої оптимізації на великих екранах.
Триколонковий макет: Використання flex: 1 1 66% для основного контенту і flex: 1 1 30% для додаткового контенту, наприклад, зображень. Це забезпечує структуру, де основний текстовий блок займає 2/3 ширини, а зображення або лівий блок – 1/3.
Ширина проектів: Секція проектів представлена у двоколонковому макеті, щоб проекти займали 45% ширини кожен.
Кнопки вирівняні по правій стороні у всіх секціях для зручного доступу і організованого вигляду.   ===   */
